[submodule "roles/zzet.rbenv"]
	path = roles/zzet.rbenv
	url = git@github.com:zzet/ansible-rbenv-role.git
[submodule "roles/geerlingguy.passenger"]
	path = roles/geerlingguy.passenger
	url = git@github.com:geerlingguy/ansible-role-passenger.git
[submodule "roles/geerlingguy.certbot"]
	path = roles/geerlingguy.certbot
	url = git@github.com:geerlingguy/ansible-role-certbot.git
[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = git@github.com:geerlingguy/ansible-role-postgresql.git
[submodule "roles/geerlingguy.mysql"]
	path = roles/geerlingguy.mysql
	url = git@github.com:geerlingguy/ansible-role-mysql.git
